@font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(CeraPro-Regular.woff2) format('woff2');
  }
  body {
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: Cera Pro,sans-serif;
  }
  h2{
    font-size: 36px;
    font-weight: normal;
  }
  #start, #prices {
    font-size: 18px;
    font-family: Cera Pro,sans-serif;
    text-transform: uppercase;
    padding: 25px;
    background: none;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
    font-weight: bold;
  }
  #reader{
    width: 300px;
    height: 300px;
    display: inline-block;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/intro.png');
  }
  #name {
    font-size: 25px;
    padding: 25px;
    background-color: rgb(255 255 255 / 70%);
  }
  #wr {
    height: 300px;
  }
  #btnwr {
    position: absolute;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
  }
  #footer {
    padding-top: 20px;
  }
